<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27609771999-u12017spkhtg1oa56at130iaeqq5qdpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27609771999-u12017spkhtg1oa56at130iaeqq5qdpb</string>
	<key>API_KEY</key>
	<string>AIzaSyCbG0YTyDKdpHOeA8TikJIEchm5MGEPH2U</string>
	<key>GCM_SENDER_ID</key>
	<string>27609771999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUidInputTest</string>
	<key>PROJECT_ID</key>
	<string>flutter-uid-input-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uid-input-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27609771999:ios:af929ec73ba207fd1d5e6a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uid-input-test.firebaseio.com</string>
</dict>
</plist>